/*zera*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #569596 0%, #b579b6 100%);
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}

/*fim zero inicio  cabeçalho*/

.header {
  background-color: darkgrey;
  box-shadow: 1px 1px 4px var(--color-dark4);
  height: 3.5em;
  justify-content: space-between;
  padding: 0 10%;
}

.nagivation {
  gap: 3em;
}

.nagivation a {
  text-decoration: none;
  color: #0000ff;
  transition: 1s;
  font-weight: bold;
}

.header,
.nagivation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*formulario*/
.h1 {
  text-align: center;
  margin: 10px;
}
.container-form {
  display: inline-block;
  border: 5px solid;
  border-radius: 10px;
  border-color: rgb(163, 150, 145);
  margin-bottom: 10px;
}
.div-repositorios {
  display: inline-block;
  border: 250px 250px;
  margin: 20px;
}

.header-form {
  background-color: #eee;
  padding: 20px;
  display: flex;
  margin: 10px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #fc00ff;
  border: 2px solid #fc00ff;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
/*Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}
/*links*/
.h2-link {
  margin: 20px 5px;
}
.link {
  margin: 10px;
}

/*tabela*/

.container-tabela {
  display: inline-block;
  border: 200px 200px;
  margin: 23px;
}

caption {
  color: forestgreen;
  font-size: large;
  font-weight: 900;
  margin-bottom: 15px;
}

table,
th,
td {
  border: 1px solid #333;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  border-spacing: 10px;
}
table {
  width: 100%;
}
th {
  height: 40px;
}
table {
  width: 300px;
  table-layout: auto;
}
th {
  text-align: left;
  height: 40px;
  vertical-align: bottom;
}
.titulo-tabela {
  background: rgb(204, 167, 238);
  color: bisque;
}
.dado-tabela {
  background: rgb(227, 232, 240);
}

/*footer*/

footer {
  width: 100%;
  min-width: 250px;
  background: rgb(197, 186, 186);
  display: flex;
}

footer .boxs {
  width: 320px;
  min-height: 150px;
  padding: 15px;
}

footer .boxs:nth-child(4) {
  width: 400px;
}
.boxs h2 {
  color: #fff;
  margin-bottom: 20px;
}

.box ul li {
  margin: 10px 0px;
  list-style: none;
}
